<h1>Editing destinacao</h1>

<% form_for(@destinacao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Alterar' %>
  </p>
<% end %>

<%= link_to 'Mostrar', @destinacao %> |
<%= link_to 'Voltar', destinacaos_path %>