log/*.log
tmp/**/*
tmp/*
db/development.sqlite3
db/test.sqlite3
db/production.sqlite3
doc/*.old
doc/*.txt
doc/*.rb
doc/**/*
doc/*.doc
doc/pendencias/**
doc/anteriores/*.*
doc/convertidos/*.*
*.sql
config/database.yml
public/javascripts/jsDraw2D/*
public/relatorios/*.*
public/relatorios/*/*
impressoes/**/*

