<p>
<%= link_to 'novo orçamento', new_orcamento_path(:paciente_id=> @paciente.id) unless @clinica_atual.administracao? || !current_user.pode_alterar_na_clinica? %>
</p>
<%= render :partial=>'orcamentos_do_paciente' %>
