<% content_for :main do %>

<fieldset class="fieldset_50">
    <legend>Novo paciente</legend>
<% form_for(@paciente) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>'form' , :locals=>{:f=>f}%>
  <p>
    <%= f.submit 'Criar'   %>
  </p>
<% end %>

</fieldset>
<%= link_to 'voltar', pesquisa_pacientes_path %>
<div id="transfere" title="Transferência " style="display: nonee;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Existe um paciente cadastrado na clínica <span id='transfere_clinica'></span>. Deseja transferir seus dados para esta clínica ?</p>
</div>


<% end %>