<h2> Protético <strong><%= @protetico.nome %></strong></h2>
<p><%= link_to "importa tabela base", importa_tabela_base_tabela_proteticos_path(:protetico_id=>@protetico.id) %> </p>
<table>
  <tr>
    <th width="290px">Descrição</th>
    <th width="100px">Valor</th>
    <th>&nbsp</th>
  </tr> 
<% @protetico.tabela_proteticos.each do |item| %>
  <tr>
    <td><% if @clinica_atual.administracao? %>
          <%= link_to item.descricao, edit_tabela_protetico_path(item) %>
        <% else %>
          <%= link_to item.descricao, edit_tabela_protetico_path(item) %>
        <% end %>
    </td>
    <td align="right"><%= item.valor.real%></td>
    <td><%= link_to 'apagar', item, :confirm => 'Tem certeza ?', :method => :delete, :class =>'ui-icon ui-icon-trash', :title=>'excluir'  %></td>
  </tr> 
<% end %>
</table>
<br/>
<%= link_to "novo item", new_tabela_protetico_path(:protetico_id=>@protetico.id) if @clinica_atual.administracao?%>
