- content_for :main do
  %h3
    Pagamentos feitos aos protéticos
  - form_tag do
    Entre : 
    = text_field_tag :datepicker, @data_inicial.to_s_br, :size=> 10
    e : 
    = text_field_tag :datepicker2, @data_final.to_s_br, :size=>10
    = submit_tag 'Pesquisar'
  %p
  %table
    %tr
      %th{:width=>'160px'}='Protético'
      %th{:width=>'110px'}='Data'
      %th{:width=>'80px'}='Valor'
      %th
        &nbsp;
    - total = 0.0
    -@pagamentos.each do  |pag|
      %tr
        %td=pag.protetico.nome
        %td{:align=>'center'}=pag.data_de_pagamento.to_s_br
        %td{:align=>'right'}=pag.valor_pago.real
        %td=link_to 'detalhes', '#', :onclick=>"abre_pagamento(#{pag.id})"
      -total += pag.valor_pago
    %tr
      %td{:colspan=>2, :align=>'center'}='Total'
      %td{:align=>'right'}=total.real
      %td
        &nbsp;