<Fieldset class="fieldset_40">
	<legend>Clínicas</legend>
<% ct=0 %>
<table class="transparente">
  <tr>
<% clinicas.each() do |clinica| %>
    <% if ct > 4 %>
      <% ct=0 %>
      </tr><tr>
    <% end %>
	<td><%= check_box_tag "clinica_"+clinica.id.to_s, clinica.id, params["clinica_#{clinica.id}"] %> <%= clinica.nome %></td>
	<% ct += 1 %>
<% end %>
  </tr>
</table>
</fieldset>