<p>
  <b>Descricao:</b>
  <%=h @indicacao.descricao %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @indicacao.ativo %>
</p>


<%= link_to 'Edit', edit_indicacao_path(@indicacao) %> |
<%= link_to 'Back', indicacaos_path %>