body{
  margin: 0; 
  padding: 0; 
  background-color: #050845; 
  color: white; 
/*  //background-image: url(img/bg.jpg); background-repeat: repeat-x; */
/*  font: small Arial, Helvetica, Verdana, sans-serif;*/
  font:  Arial, Helvetica, Verdana, sans-serif;
}
fieldset{
    width: 30em;
}
.fieldset_60{
    width: 60em;
}
.fieldset_55{
    width: 55em;
}
.fieldset_50{
    width: 50em;
}
.fieldset_40{
    width: 40em;
}
.fieldset_30{
  width: 30em;
}
.fieldset_25{
  width: 25em;
}
.fieldset_20{
  width: 20em;
}
.fieldset_35{
  width: 35em;
}
#estado{
  padding-left: 28em;
  margin-top: -6.7em;
/*  float :right;*/
}
#logo{
    margin-left: 2em;
    margin-top: 1em;
    float: left;
}
#login{
   /* margin-top: -7em;
       padding-left: 30em;
       background : white;
      */ 
   margin-top: 1em;
   font-size :14px;
   float: right;
   padding-right: 20em;
}
#cabecalho{
    margin-left: 5em;
    margin-top: 0.3em;
    background-color: red;
}
#principal{
    margin-top: 0em;
    margin-left: 5em;
    margin-bottom:0em;
    margin-right: 5em;
    padding-top: 7.3em;
    padding-left: 2em;
    padding-bottom: 10em;
    padding-right: 7em;
    background :white;
}
#titulo{
  padding-left: 10em;
  padding-bottom: 0.5em;
  font-size: 19px;
}
#rodape a{
    color :white;
}
.destaque{
  height: 1.5em;
  background-color: #FFF4BC;
  padding-top: .3em;
  padding-left: 3em;
  font-size: 18px;
}
.borda_dupla{
  border:solid 1px #455A79;
  clear:both; 
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
}


.pd_menu_01 {float:left; padding:0; margin:0;color: #FFFFFF;background: #455A79;
  width:108%;
  border:solid 1px #455A79;clear:both;}
.pd_menu_01  a, .pd_menu_01 a:visited {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size:8pt;
  color: #FFFFFF;
  background-color: #455A79;
  text-decoration: none;
}
.pd_menu_01 ul {list-style-type:none;padding:0; margin:0;}
.pd_menu_01 ul li {float:left; position:relative; z-index:auto !important ; z-index:1000 ; border-right:solid 1px #455A79; border-left:solid 1px #455A79;}
.pd_menu_01 ul li a {color: #FFFFFF;background: #455A79;float:none !important ; float:left ; display:block; height:20px; line-height:20px; padding:0 10px 0 10px; text-decoration:none; }
.pd_menu_01 ul li ul {display:none; border:none;color: #FFFFFF;background: #455A79; width:1px}
.pd_menu_01 ul li:hover a {background-color:#90b7e5; text-decoration:none; color:#F5F5F5;} /*Color main cells hovering mode*/
.pd_menu_01 ul li:hover ul {display:block;  position:absolute; z-index:999; top:19px; margin-top:1px; left:0;}
.pd_menu_01 ul li:hover ul li a {display:block; width:16em; height:auto; line-height:1.3em; margin-left:-1px; padding:5px 10px 5px 10px; border-left:solid 1px #455A79; border-bottom: solid 1px #455A79; background-color:#455A79;  color:#FFFFFF;} /*Color subcells normal mode*/
.pd_menu_01 ul li:hover ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color subcells hovering mode*/
.pd_menu_01 ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color main cells hovering mode*/
.pd_menu_01 ul li a:hover ul {display:block; width:16em; position:absolute; z-index:999; top:29px; left:0; }
.pd_menu_01 ul li ul li a:visited { background-color:#455A79;  color:#FFFFFF;} /*Color subcells normal mode*/
.pd_menu_01 ul li a:hover ul li a {display:block; width:16em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px #455A79; border-bottom: solid 1px #455A79; background-color:#455A79;  color:#FFFFFF;} 
.pd_menu_01 ul li a:hover ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color subcells hovering mode*/

.transparente{
    padding:0;
    margin:0;
    font-family: 'Geneva';
    font-size: 13px;
}
.transparente table, tr, td{
    border:0px; 
    
}
.transparente, table , td{
        border:0px; 
}
.transparente td{
        border:0px; 
    background: white;
}
.transparente , tr{
    height: 10px;
    margin: 0;
    padding: 0;
}

#notice{
    color:green;
    background-color: #A9EEBC;
    width: 55%;
    height: 120%;
  	text-align: center;
  	border-top: 2px solid #00B74A;
  	border-bottom: 2px solid #00B74A;
  	padding: 5px 20px 5px 20px;
/*    padding-left: 5em;
    padding-right: 5em;
*/}
.notice {
	background: #ABF1DA;
	border-top: 2px solid #00B74A;
	border-bottom: 2px solid #00B74A;
	text-align: center;
  margin: 10px auto;
	padding: 5px 20px 5px 20px;
	}
#notification{
  border: 5px solid #9c9;
  background-color: #cfc; 
  padding: 5px; 
  margin: 10px 0;
}

#valor_restante{
  float: right;
}

.lista{
   border:solid 1px #455A79;
   clear:both;  
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   padding-left: 0.4em;
   padding-right: 0.4em;
   background-color: #D6AD70;
}
.mensagem_de_erro{
  background-color: red;
  color: white;
  padding-left: 1em;
}

.tabelas{
  color: red;
  background-color: red;
}
.zebra { 
  background-color: #12ee31;
  color: #000000;
}

.zebraHover { background-color: #87B6D9;
}

tr.even {
	background-color: #F6F6F6;
}

tr.odd {
	background-color: #ffffff;
}
tbody th{
	background:#455A79;
	color: white;
}

table,td,th{
	border:1px solid #000;
	border-collapse:collapse;
	margin:0;
	padding:0;
/*  font-family: "Arial";*/
/*  font-size: 14px;*/
}

.tabela{
  font-family: "Geneva";
  font-size: 11px;
}

td,th{
	padding:.2em .5em;
	vertical-align:top;
	font-weight:normal;
}
thead th{
/*  text-transform:uppercase;*/
	background:#455A79;
	color:#fff;
}

tbody th{
	background:#455A79;
	color: white;
}

.zebraUm{
  background-color:#E0E0E0
}

.zebraDois{
  background-color:white
}

.identifica_paciente{
  padding-top: 0.3em;
  padding-left: 1em;
  background-color: #E6EDF8;
  font-size: 16px;
}

.esquerda_20 {
  padding-left: 20em;
}
.esquerda_10 {
  padding-left: 10em;
}
.esquerda_3 {
  padding-left: 3em;
}

input.txt {
color: #00008B; background-color: white; border: 1px inset #00008B;
}
form div {
clear: left; margin: 0; padding: 0; padding-top: 0.6em;
}
form div label {
float: left;
width: 160px; 
/*font: bold;*/
}


input.btn {
color: #00008B; background-color: #ADD8E6; border: 1px outset #00008B;
}

#canvas{
  padding-top: 14em;
}

#parcelas{
  padding-top : -2em;
  padding-left: 10.5em;
}

#link_de_clinicas{
  padding-top: -4em;
  padding-left: 29em;
  text-align :right;
}

.botao_dente{
  padding: 0.1em 0.1em 0.1em 0.1em;
  background-color: #E9ECFA;
  color: black;
  text-decoration: none;
  border:solid 1px #455A79;
}

#numero_dos_dentes{
  float :left;
/*  padding-bottom: 0.1em;*/
}

.debito{
  background-color :#F1888F;
}
.cancelado{
  background-color :#F6FDB8;
}
.abono{
  background-color :#ABD390;
}

#link{
  padding-left: 40em;
  display: inline-block;
}

.arq_morto{}
.SPC{}
.devol_2X{}
.reapresentado{}
.devolvido{color: red;}
.pgto_adm{}
.pgto_cli{}
.destinação{color: blue;}
.receb_adm{}
.enviado_adm{} 
.disponível{ color: green;}
.solucionado{}

#wrapper { 
  background-color: white; 
  color: black; 
/*  margin: 30px 40px 30px 40px;*/
}
#header{
  height: 4em;
  background-color :white;
}
#header-bottom { 
  border-top: 1px 
  solid #b9d2e3; 
  border-bottom: 1px 
  solid #b9d2e3;
}

#main { 
  margin-top: 1px;
  margin-left: 6em;
  padding-bottom: 20px;
  width: 80%;
  background-color: white;
}

#content { 
  margin: 30px 240px 0 30px; 
  border: 1px solid #b9d2e3; 
  background-color: white; 
  color: black;
}

#rodape{
    background: #1C4EA3;

        padding-left: 0;
        margin-right: 5em;
        padding-right: 2em;
        margin-right: 1em;
        margin-bottom: -2.2em;
    text-align: center;
    color: white;
  margin: 2em 50px 0px 0px;

}


#seleciona_clinica{
  float: right;
  padding-bottom: 1em;
}

.menu {float:left; padding:0; 
/*  margin:0;*/
  margin-left: 4em;
  padding-left: 1em;
  color: #FFFFFF;background: #455A79;
  width:70%;
/*  border:solid 1px #455A79;*/
  clear:both;
}
.menu  a, .menu a:visited {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size:10pt;
  color: #FFFFFF;
  background-color: #455A79;
  text-decoration: none;
}
.menu ul {list-style-type:none;padding:0; margin:0;}
.menu ul li {float:left; position:relative; z-index:auto !important ; z-index:1000 ; border-right:solid 1px #455A79; border-left:solid 1px #455A79;}
.menu ul li a {color: #FFFFFF;background: #455A79;float:none !important ; float:left ; display:block; height:20px; line-height:20px; padding:0 10px 0 10px; text-decoration:none; }
.menu ul li ul {display:none; border:none;color: #FFFFFF;background: #455A79; width:1px}
.menu ul li:hover a {background-color:#90b7e5; text-decoration:none; color:#F5F5F5;} /*Color main cells hovering mode*/
.menu ul li:hover ul {display:block;  position:absolute; z-index:999; top:19px; margin-top:1px; left:0;}
.menu ul li:hover ul li a {display:block; width:16em; height:auto; line-height:1.3em; margin-left:-1px; padding:5px 10px 5px 10px; border-left:solid 1px #455A79; border-bottom: solid 1px #455A79; background-color:#455A79;  color:#FFFFFF;} /*Color subcells normal mode*/
.menu ul li:hover ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color subcells hovering mode*/
.menu ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color main cells hovering mode*/
.menu ul li a:hover ul {display:block; width:16em; position:absolute; z-index:999; top:29px; left:0; }
.menu ul li ul li a:visited { background-color:#455A79;  color:#FFFFFF;} /*Color subcells normal mode*/
.menu ul li a:hover ul li a {display:block; width:16em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px #455A79; border-bottom: solid 1px #455A79; background-color:#455A79;  color:#FFFFFF;} 
.menu ul li a:hover ul li a:hover {background-color:#90b7e5; text-decoration:none;color:#F5F5F5;} /*Color subcells hovering mode*/

.tabela_scroll{
  height   :20em;
  overflow :auto;
}

#nomes{
  padding-left: 14em;
}

#nomes{
  list-style-type: none;
}

#nomes li{
background-image: url(sqpurple.gif);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 14px; 
}