<% if @clinica_atual.administracao? %>
  <br/>
  Clínicas :  
  <% @dentista.clinicas.each() do |clinica| %>
    <%= check_box_tag "aclinicas_#{clinica.id}",value= clinica.id,true %>  
    <%= clinica.nome %> &nbsp;&nbsp;
  <% end %>
<% else %>
  <span style="display:none">
    <%= check_box_tag "aclinica_#{session[:clinica_id]}" ,session[:clinica_id], true %>  
  </span>
<% end %>