  Entre : <%= text_field_tag :datepicker5, @data_inicial.to_s_br, :size=>10 %>
  &nbsp;&nbsp;&nbsp;e : <%= text_field_tag :datepicker6 , @data_final.to_s_br, :size=>10 %>
  <span style="display:none">
    <%= check_box_tag "orcamento_clinica_"+ session[:clinica_id].to_s,session[:clinica_id], true %>  
  </span>
  <br/><br/>
  <%= button_to 'pesquisar', "javascript:orcamento_dentista();" %>
<br/>

<div id="lista_orcamento"></div>
