  Entre : <%= text_field_tag :datepicker3, @data_inicial.to_s_br, :size=>10 %>
  &nbsp;&nbsp;&nbsp;e : <%= text_field_tag :datepicker4 , @data_final.to_s_br, :size=>10 %>

  <br/><br/>
  <%= button_to 'pesquisar', "javascript:pagamento_dentista(#{@dentista.id});" %>
<p>
  <div id="lista_pagamento"></div>
</p>


