<%= render :partial=>'datas' %>
<br/><br/><%= button_to "pesquisar" , "javascript:producao();"%>
  <div style='padding-left :60em;'>
  Valor dos trabalhos selecionados : R$ <span id="valor">0</span>
  <span id="link_pagamento">
  <%= link_to "efetua pagamento ", new_pagamento_path() if @administacao %>
  </span>
  </div>
<p>
  <div id="lista"></div>
</p>
