<h1>Listing cheques</h1>

<table class='tabela'>
  <tr>
  </tr>

<% @cheques.each do |cheque| %>
  <tr>
    <td><%= link_to 'Show', cheque %></td>
    <td><%= link_to 'Edit', edit_cheque_path(cheque) %></td>
    <td><%= link_to 'Destroy', cheque, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cheque', new_cheque_path %>