#link_senha{ :style=>'margin-left : 50em; margin-top: -1em;'}
  = link_to "cadastra a senha", cadastra_senha_path({:controller_name=>params[:controller], :action_name=>params[:action]}), :class=>'ui-icon ui-icon-key', :title =>'Cadastra senha'
